.cta__container{
    padding-top: 50px ;
    &--title{
        font-size: 24px;
        padding: 0 10px 20px;
        
    }
    &--description{
        padding:0 5px;
    }

    @include for-mobile-up{
        max-width: 600px;
        text-align: left;
        padding-right:100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &--title{
            font-size: 44px;
            padding-top: 75px;
        }
    }
}