.offer__container{
    background: $accent-blue;
    padding: 20px 65px;
    border-radius: 10px;
    margin:10px 0 20px 0;
    box-shadow: 0 7px rgba($neutral-dark-blue, 0.4);
    font-size: 14px;
    span{
        font-weight: $font-bold;
        cursor: pointer;
    }
    @include for-mobile-up{
        max-width: 600px;
    }
}