@import 'responsiveness';
@import 'resets';
@import 'variables';
@import 'form';
@import 'footer';
@import 'cta';
@import 'offer';

body{
    font-family: $font-family;
    font-size: $font-size;
    color:#fff;
    background-color: $primary-red;
    background-image: url(../images/bg-intro-mobile.png);
    
    @include for-mobile-up{
        background-image: url(../images/bg-intro-desktop.png);
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
    }
}

.container{
    width:90%;
    margin: 100px auto;
    text-align: center;
    @include for-mobile-up{
        max-width: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:150px auto 0 auto;
        
        
    }

}